/*
 * Globals
 */

:root {
    --colour-dark-primary: #1f5237;
    --colour-dark-secondary: #00793c;
    --colour-light-secondary: #009545;
    --colour-light-primary: #00b050;
    --colour-black: #000000;
    --colour-white: #f8f8f8;
}

/* Colour filters to re-saturate images where necessary */
/*
#1f5237
filter: invert(100%) sepia(35%) saturate(2399%) hue-rotate(183deg) brightness(116%) contrast(95%);
#00793c;
filter: invert(21%) sepia(74%) saturate(4574%) hue-rotate(151deg) brightness(86%) contrast(101%);
#009545;
filter: invert(36%) sepia(58%) saturate(4590%) hue-rotate(134deg) brightness(91%) contrast(101%);
#00b050;
filter: invert(41%) sepia(85%) saturate(1964%) hue-rotate(122deg) brightness(95%) contrast(103%);
#000000;
filter: invert(0%) sepia(99%) saturate(26%) hue-rotate(72deg) brightness(100%) contrast(100%);
#f8f8f8;
filter: invert(100%) sepia(1%) saturate(173%) hue-rotate(331deg) brightness(114%) contrast(95%);
*/

/* Links */
a,
a:focus,
a:hover {
    color: var(--colour-black);
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritence from `body` */
    background-color: var(--colour-white);
    border: 1px solid var(--colour-white);
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: var(--colour-dark-secondary);
}

body {
    color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Boogaloo';
}

hr {
    border: 1px solid var(--colour-white);
    margin: 0 0 0.5em 0;
}

.center-when-small {
    text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav>li {
    display: inline-block;
}

.masthead-nav>li+li {
    margin-left: 20px;
}

.masthead-nav>li>a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav>li>a:hover,
.masthead-nav>li>a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav>.active>a,
.masthead-nav>.active>a:hover,
.masthead-nav>.active>a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Logo
 */

img.logo {
    width: 114px;
    height: 84px;
    object-fit: cover;
    text-align: center;
}

img.logo-white {
    filter: invert(100%) sepia(1%) saturate(173%) hue-rotate(331deg) brightness(114%) contrast(95%);
}

h1.logo-title {
    color: var(--colour-light-black);
    font-family: "Boogaloo";
    font-size: 48pt;
    letter-spacing: 0.05em;
    margin-top: 4px;
}

h1.logo-title .typed-suffix {
    color: var(--colour-light-primary);
}

.logo-title-border-bottom {
    border-bottom: thin solid var(--colour-white);
}

/*
 * Footer
 */

.mastfoot {
    color: #999;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}

/*
 * Affix and center
 */

 @media (min-width: 576px) {

    .center-when-small {
        text-align: left;
    }

    .logo-col {
        width: 120px;
    }

    img.logo {
        width: 114px;
        height: 84px;
    }
}

@media (min-width: 768px) {

    hr {
        border: 1px solid var(--colour-white);
        margin: 0 8em 0.5em 0;
    }
    
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }

    .mastfoot {
        position: fixed;
        bottom: 0;
    }

    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {

    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

#twitterButton i {
    font-size: 1.2em;
}