---
permalink: /events/
layout: default
suffixes:
- Databases,
- Docker,
- Git,
- SQL,
- Kubernetes,
- Us
title: Events
---

<h1>{{page.title}}</h1>
<p>
    CodeWith runs drop-in sessions, huddles, and scheduled workshops. You can read more about each of these below.
</p>
<p>
    Before attending any CodeWith event, please read our <a href="{{site.url}}/code-of-conduct">Code of Conduct</a>,
    which applies to all events we run. All speakers, mentors, and attendees must agree with this; it helps us all to
    understand the community&apos;s shared values and provides clear guidelines on how we should behave.
</p>
<p>
    Get our events in your calendar:
    <br>
    <a target="_blank" href="https://calendar.google.com/calendar/embed?src=codewithgroup%40gmail.com&ctz=Europe%2FLondon">Google Calendar</a> | 
    <a href="https://calendar.google.com/calendar/ical/codewithgroup%40gmail.com/public/basic.ics">ICal</a>
</p>
<h2>Previous Events</h2>
<p>
    Slides from previous events and workshops can be found in our
    <a href="https://drive.google.com/drive/folders/1j6irw_cUfU_u2P1LLe_tJiM6T4dBID5Q?usp=sharing">Google Drive
        folder</a>.
</p>

<nav>
    <div class="nav nav-tabs" id="events-tabs-items" role="tablist">
        <a class="nav-item nav-link active" id="drop-ins-tab" data-toggle="tab" href="#events-tabs-panes-drop-ins" role="tab" aria-controls="events-tabs-panes-drop-ins" aria-selected="true"><h4>Drop-Ins</h4></a>
        <a class="nav-item nav-link" id="huddles-tab" data-toggle="tab" href="#events-tabs-panes-huddles" role="tab" aria-controls="events-tabs-panes-huddles" aria-selected="false"><h4>Huddles</h4></a>
        <a class="nav-item nav-link" id="workshops-tab" data-toggle="tab" href="#events-tabs-panes-workshops" role="tab" aria-controls="events-tabs-panes-workshops" aria-selected="false"><h4>Workshops</h4></a>
    </div>
</nav>
<div class="tab-content" id="events-tabs-panes">
    <div class="tab-pane fade show active" id="events-tabs-panes-drop-ins" role="tabpanel" aria-labelledby="drop-ins-tab">
        {% include_relative pages-events/events-drop-ins.html %}
    </div>
    <div class="tab-pane fade" id="events-tabs-panes-huddles" role="tabpanel" aria-labelledby="huddles-tab">
        {% include_relative pages-events/events-huddles.html %}
    </div>
    <div class="tab-pane fade" id="events-tabs-panes-workshops" role="tabpanel" aria-labelledby="workshops-tab">
        {% include_relative pages-events/events-workshops.html %}
    </div>
</div>