---
layout: default
suffixes:
- Databases,
- Docker,
- Git,
- SQL,
- Kubernetes,
- Us
title: Events
---

<h1>{{page.title}}</h1>
<p>
    CodeWith runs <a href="#drop-ins">drop-in sessions</a>, <a href="#huddles">huddles</a>, and
    <a href="#workshops">scheduled workshops</a>; you can read more about each of these below.
</p>
<p>
    Before attending any CodeWith event, please read our <a href="code-of-conduct">Code of Conduct</a>, which
    applies to all events we run. All speakers, mentors, and attendees must agree with this; it helps us all to
    understand the community&apos;s shared values and provides clear guidelines on how we should behave.
</p>

{% include_relative pages-events/events-drop-ins.html %}
<br />
{% include_relative pages-events/events-huddles.html %}
<br />
{% include_relative pages-events/events-eventbrite-list.html %}