---
title: Events
layout: default
---

<h1>{{page.title}}</h1>

<p>Before attending any CodeWith event, please read our <a href="code-of-conduct.html">Code of Conduct</a>, which applies to all events we run. All
    attendees, speakers, and mentors must agree with this code of conduct. It helps us all to understand the 
    community&apos;s shared values and provides clear guidelines on how we should behave.</p>

{% include_relative events-eventbrite-list.html %}
{% include eventbrite-button-script.html %}
