---
permalink: /people/
layout: default
suffixes:
    - Drew,
    - Keiran,
    - Jim,
    - Jonathan,
    - Liz,
    - Marie,
    - Peter,
    - Sean,
    - Simon,
    - Us
title: People
---

<h1>{{page.title}}</h1>

{% for person_hash in site.data.people %}
{% assign person = person_hash[1] %}
  <br />
  {% include_relative _includes/person.html person=person %}
{% endfor %}

<br />
{% include_relative pages-people/people-jim.html %}
<br />
{% include_relative pages-people/people-liz.html %}
<br />
{% include_relative pages-people/people-marie.html %}
<br />
{% include_relative pages-people/people-peter.html %}
<br />
{% include_relative pages-people/people-sean.html %}
<br />
{% include_relative pages-people/people-simon.html %}
