---
title: Resources
layout: default
---

<h1>{{page.title}}</h1>

<p>
    Coding is basically typing, and it's made that much easier if you have a good text editor. There are even whole
    development environments with built-in tools and gadgets that will speed up the process even more. As with any
    skilled job, the right tools make things easier, so we've included a selection below.
</p>
<p>
    On top of that, there are lots of places on the Internet which will do jobs that text editors just aren't built for.
    We've listed some of those too.
</p>
<p>
    Jump to: <a href="#resources-ides">Integrated Development Environments (IDEs)</a> | <a href="#resources-tools">Other
        Tools</a>
</p>
{% include_relative resources-ides.html %}
{% include back-to-top.html %}
{% include_relative resources-tools.html %}