<!-- EventBrite Integration -->
<script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var orderComplete = function () {
        console.log('Order complete!');
    };
    /* Programming 101 */
    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '117920085149',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-117920085149',
        onOrderComplete: orderComplete
    });

    /* Databases 101 */
    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '117562278941',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-117562278941',
        onOrderComplete: orderComplete
    });

    /* Containers 101 - Docker */
    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '117832786035',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-117832786035',
        onOrderComplete: orderComplete
    });

    /* Just Git Started */
    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '117920634793',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-117920634793',
        onOrderComplete: orderComplete
    });

    /* SQL Walkthrough */
    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '117920303803',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-117920303803',
        onOrderComplete: orderComplete
    });

    /* Containers 102 - Kubernetes */
    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '117832864269',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-117832864269',
        onOrderComplete: orderComplete
    });

</script>