<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="logo sidebar-logo">
            <a href="{{site.url}}">
                <img class="sidebar-logo" src="{{site.url}}/images/noun-keyboard-licensed-white.svg">
            </a>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li class="sidebar-dropdown">
                    <a href="{{site.url}}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="{{site.url}}/events">
                        <i class="fa fa-calendar-alt"></i>
                        <span>Events</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="{{site.url}}/about">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <span>About</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="{{site.url}}/activities">
                        <i class="fa fa-bell"></i>
                        <span>Activities</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="{{site.url}}/resources">
                        <i class="fa fa-tools"></i>
                        <span>Resources</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="{{site.url}}/people">
                        <i class="fa fa-users"></i>
                        <span>People</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="{{site.url}}/contact">
                        <i class="fa fa-address-book"></i>
                        <span>Contact</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="{{site.url}}/code-of-conduct">
                        <i class="fas fa-book"></i>
                        <span>Code of Conduct</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="{{site.url}}/feedback">
                        <i class="fa fa-comment-alt"></i>
                        <span>Feedback</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="{{site.url}}/faq">
                        <i class="fas fa-question"></i>                       
                         <span>FAQ</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="{{site.url}}/branding">
                        <i class="fas fa-palette"></i>
                        <span>Branding</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a id="change-font" class="change-font" href="#">
                        <i class="fa fa-font"></i>
                        <span>OpenDyslexic</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
