<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="logo sidebar-logo">
            <a href="index.html">
                <img class="sidebar-logo" src="./images/noun-keyboard-licensed-white.svg">
            </a>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li class="sidebar-dropdown">
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="events.html">
                        <i class="fa fa-calendar-alt"></i>
                        <span>Events</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="about.html">
                        <i class="fa fa-users"></i>
                        <span>About</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="activities.html">
                        <i class="fa fa-bell"></i>
                        <span>Activities</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="resources.html">
                        <i class="fa fa-tools"></i>
                        <span>Resources</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="contact.html">
                        <i class="fa fa-address-book"></i>
                        <span>Contact</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="feedback.html">
                        <i class="fa fa-comment-alt"></i>
                        <span>Feedback</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a id="change-font" class="change-font" href="#">
                        <i class="fa fa-font"></i>
                        <span>OpenDyslexic</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>